body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-brand {
    color: #9d9d9d !important;
}

.table {
    margin-top: 20px;
}

.btn {
    margin-right: 5px;
}

.form-horizontal .control-label {
    text-align: right;
}

.validation-summary-errors {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
}

.text-danger {
    color: #a94442;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}